<div style="padding: 5px;">
  <mat-toolbar >
    Edujet
  </mat-toolbar>
  <mat-toolbar  color="primary" mat-tab-nav-bar >
    
      <span
         *ngFor="let routeLink of routeLinks; let i = index;"
         [routerLink]="routeLink.link"
         routerLinkActive
         #rla="routerLinkActive"
         [active]="activeLinkIndex === i"
         (click)="activeLinkIndex = i"
         [routerLinkActiveOptions]="{exact: true}"
         [class] = getActiveClass(i)
      >
          {{routeLink.label}}
      </span>
    
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>EduJet</span>
      <span class="example-spacer"></span>
      <span class="navItems">
        STUDY ABROAD
      </span>
      <span class="navItems">
        SERVICES
      </span>
      <span class="navItems">
        CONTACT US
      </span>
      <span class="navItems" (click)="navigateUrl('AboutUs')">
        ABOUT US
      </span>
      
      
    </mat-toolbar-row>
    </mat-toolbar>