<div style="padding: 5px;">
  <nav mat-tab-nav-bar >
      <a mat-tab-link
         *ngFor="let routeLink of routeLinks; let i = index;"
         [routerLink]="routeLink.link"
         routerLinkActive
         #rla="routerLinkActive"
         [active]="activeLinkIndex === i"
         (click)="activeLinkIndex = i"
         [routerLinkActiveOptions]="{exact: true}"
         [class] = getActiveClass(i)
      >
          {{routeLink.label}}
      </a>
  </nav>

  <router-outlet></router-outlet>
</div>
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>EduJet</span>
      <span class="example-spacer"></span>
      <span class="navItems">
        STUDY ABROAD
      </span>
      <span class="navItems">
        SERVICES
      </span>
      <span class="navItems">
        CONTACT US
      </span>
      <span class="navItems" (click)="navigateUrl('AboutUs')">
        ABOUT US
      </span>
      
      
    </mat-toolbar-row>
    </mat-toolbar>